<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">Add Project</ion-title>
    <ion-title *ngIf="!isNew">Update Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal" fullscreen="true">
  <form #projectForm="ngForm">
    <ion-item>
      <ion-label position="floating">Project Name</ion-label>
      <ion-input name="name" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address Line</ion-label>
      <ion-input name="addressLine" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input name="country" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">State</ion-label>
      <ion-input name="state" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">District</ion-label>
      <ion-input name="district" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input name="city" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Postal Code</ion-label>
      <ion-input name="postalCode" ngModel></ion-input>
    </ion-item>
  </form>
  <!--<pre>{{projectForm.value|json}}</pre>-->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="saveProject()" style="width: 100%;">Save</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="dismiss()" color="dark" style="width: 100%;">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<!--<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="width: 100%;">Save</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="dark" style="width: 100%;">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>-->
